# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE
.classpath
.project
.settings/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Env
.env

# Node
node_modules/
dist/
build/

# Docker
*.tar

# Backup folder
monolith-backup/
application-secrets.properties


# Misc
*.swp
*.swo